*
{
    margin: 0;
    padding: 0;

    vertical-align: top;

    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

*:focus
{
    outline: none;
}

#layout-table
{
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    border-spacing: 0;
}

hr
{
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;

    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #dadada;
}

/* CLASSES */
.center-text
{
    text-align: center;
}

.center
{
    margin: 0 auto;
}

.smaller-padding
{
    padding: 1%;
}

.normal-padding
{
    padding: 2%;
}

.larger-padding
{
    padding: 5%;
}

.margin-bottom
{
    margin-bottom: 3%;
}
.margin-right
{
    margin-right: 3%;
}

.content-to-top
{
    vertical-align: top;
}

.button
{
    background-color: white;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    padding: 2%;

    transition: all 0.2s linear;

    font-size: 85%;
    text-align: center;
}

.button:hover
{
    box-shadow: 0px 0px 10px 1px #e3f7bb;
}

.button:active
{
    background-color: #e3f7bb;
}

.textInput
{
    background-color: white;
    border: 1px solid #eaeaea;
    border-radius: 10px;

    padding: 2% 1% 2% 2%;
}

.textInput:focus
{
    box-shadow: inset 0 0 5px 2px #e3f7bb;
}

.maxWidth
{
    width: 100%;
}

.shade
{
    background-color: #eaeaea;
}

.shade-text
{
    color: #a9a9a9;
}

.red-text
{
    color: red;
}

.clickable
{
    cursor: pointer;
}

.small-text
{
    font-size: 12px;
}

.float-right
{
    float: right;
}

.footer
{
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    right: 0;
    padding: 0 3% 3% 3%;
}

.align-left
{
    left: 0;
}

.logged-in:hover
{
    box-shadow: 0 0 10px 5px #e3f7bb;
}
/* END OF CLASSES */



/* START OF BLOG STYLING */
#social-media-container, #archive-container
{
    position: relative;
    width: 15%;
    background-color: #fbfbfb;
    margin: 0 auto;
    overflow-x: hidden;
}

#social-media-container
{
    border-right: 1px solid #eaeaea;
    overflow-y: auto;
}
#archive-container
{
    border-left: 1px solid #eaeaea;
    overflow-y: auto;
}

#content-container
{
    background-color: white;
    margin: 0 auto;
}

#content-container > div
{
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    overflow-y: auto;
}

#header img
{
    width: 100%;
}
/* END OF MAIN STRUCTURE */

/* ARCHIVE */
#archive,
#archive > div,
#commentInput,
#commentsBox .button
{
    height: 100%;
}

#archive > div > div
{
    margin-bottom: 10%;
}

#archive div > *
{
    margin-bottom: 3%;
}

#archive ul
{
    background-color: white;
    border-radius: 10px;
    width: 100%;

    list-style-type: none;
}

#archive li
{
    padding: 2% 0 2% 0;
}

#archive li:hover
{
    background-color: #e3f7bb;
}

#btnDate
{
    margin-right: auto;
    width: 100%;
    padding: 15px;
    font-size: 18px;
}

#archive a
{
    color: black;
    text-decoration: none;
}

#archive h4,
#commentsBox
{
    text-align: left;
}

#commentsBox
{
    width: 100%;
    height: 20%;
    max-width: 100%;
}

#commentsBox ul
{
    max-height: 75%;
    overflow-y: auto;
}

#commentsBox li
{
    padding: 4%;
}

#commentsBox form,
#searchForm
{
    width: 100%;
    white-space: nowrap;
}

#commentsBox .button,
#searchForm .button
{
    width: 25%;
}

#commentsBox p
{
    font-size: 14px;
    font-style: italic;
}

#searchInput,
#commentInput
{
    width: 70%;
    margin-right: 1%;
}

.border
{
    border: 1px solid #eaeaea;
}

.commentAuthor
{
    font-size: 14px;
    font-weight: bold;
}

.commentBody
{
    font-size: 12px;
}

.red
{
    color: red;
}

.orange
{
    color: orange;
}
/* END OF ARCHIVE */

/* ARTICLE */
#title
{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
}

#article
{
    font-size: 14px;
    padding: 1%;
}
/* END OF ARTICLE */

/* SOCIAL MEDIA */
#about
{
    margin: 5% 5% 0 5%;

    background-color: white;
    border: 1px solid #eaeaea;
    border-radius: 10px;
}

#photo > img
{
    width: 10vw;
    height: 10vw;
}

#bio
{
    height: 15vh;
    overflow-y: auto;
    padding: 5% 5% 0 5%;
    margin-bottom: 5%;

    font-size: 14px;
}
#bio p
{
    word-break: normal;
}
#bio-input
{
    width: 100%;
    height: 95%;
    margin-bottom: 2%;
    border: none;
    resize: none;
}


/* END OF BLOG STYLING */

/* START OF ARTICLE CREATION STYLING */
#modal
{
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 30vw;
    border-radius: 10px;

    background-color: #fbfbfb;
    border: 1px solid #eaeaea;
    text-align: center;
    padding: 2%;
}
#modal *
{
    margin: 0 3% 3% 0;
}

#imgBanner
{
    width: 100%;
    margin: 0 auto;
}

#options-window
{
    position: relative;
    background-color: #fbfbfb;
    border-right: 1px solid #eaeaea;
}

#main-window
{
    width: 75%;
}

#options-window,
#main-window
{
    padding: 1%;
}

#branding-section
{
    height: 20%;
    background: url('http://placehold.it/480x210');
    background-size: cover;
    background-position: center;
}

#postOptionsApp div > *
{
    margin-bottom: 3%;
}

#postOptionsApp .textInput,
#editorApp .textInput
{
    padding: 1%;
    width: 98%;
}

#postOptionsApp .numInput,
#editorApp .numInput
{
    width: auto;
    padding: 2%;
}

#postOptionsApp button
{
    margin-right: 2%;
}

#editorMain,
#editorMain h1,
#documentContainer
{
    border: 1px solid #eaeaea;
    border-radius: 10px;
    width: 98%;
    padding: 1%;
}

#documentContainer
{
    margin-bottom: 3%;
}

#articleTitle
{
    width: 100%;
    height: 2em;
    margin-bottom: 0.5%;
}

#editorMain button
{
    margin-bottom: 1%;
}

#documentContainer
{
    height: 50vh;
    overflow-y: auto;
    margin-bottom: 1%;
}

#loginForm
{
    margin: 0 auto;
    width: 50%;
    transform: translateY(50%);
    background-color: #fbfbfb;
    border: 1px solid #eaeaea;
    border-radius: 10px;
}
/* CLASSES */
.tag
{
    background-color: #e3f7bb;
    display: inline-block;
    margin-right: 1%;
}
.tag:hover
{
    background-color: #d2eBa0;
}
.tag:active
{
    box-shadow: 0 0 10px 5px #e3f7bb;
}

.option-button
{
    border: 1px solid #eaeaea;
    border-radius: 10px;
    padding: 2%;

    transition: all 0.2s linear;

    font-size: 85%;
    text-align: center;
}
.btnActive
{
    background-color: #e3f7bb;
}
.btnActive:hover
{
    box-shadow: 0 0 10px 1px #e3f7bb;
}
.btnInactive
{
    background-color: #f7bebb;
}
.btnInactive:hover
{
    box-shadow: 0 0 10px 1px #f7bebb;
}

.btnFormat
{
    background-color: white;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    padding: 1%;

    transition: all 0.2s linear;

    font-size: 85%;
    text-align: center;

    margin-right: 2%;
}
.btnFormat:hover
{
    box-shadow: 0px 0px 10px 1px #e3f7bb;
}
.btnFormat:active
{
    background-color: #e3f7bb;
}
/* END OF ARTICLE CREATION STYLING */
