#options-window
{
    background-color: #fbfbfb;
    border-right: 1px solid #eaeaea;
}

#main-window
{
    width: 75%;
}

#options-window,
#main-window
{
    padding: 1%;
}

#branding-section
{
    height: 20%;
    background: url('http://placehold.it/480x210');
    background-size: cover;
    background-position: center;
}

#postOptionsApp div > *
{
    margin-bottom: 3%;
}

#postOptionsApp .textInput
{
    width: 97%;
}

/* CLASSES */
.tag
{
    background-color: #e3f7bb;
    display: inline-block;
    margin-right: 1%;
}
.tag:hover
{
    background-color: #d2eBa0;
}
.tag:active
{
    box-shadow: 0 0 10px 5px #e3f7bb;
}
/* END OF CLASSES */
